
.RatingPage-Players {
    width: 100%;
    height: 100%;
    min-height: 0;
    margin: 40px 0;
    flex-grow: 1;
}

.RatingPage-Players_loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.RatingPage-Loading {
    font-size: 22px;
}

.RatingPage-PlayersList {
    display: flex;
    width: 100%;
    min-width: 640px;
    height: 48px;
    min-height: 0;
    font-size: 24px;
    transition: 0.1s;
    position: relative;
}

.RatingPage-PlayersList + .RatingPage-PlayersList {
    margin-top: -1px;
}

.RatingPage-PlayersList + .RatingPage-PlayersList::before {
    content: '';
    width: calc(100% - 20px);
    border-top: 1px solid lightgray;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 1;
}

.RatingPage-PlayersList:hover {
    background: rgba(0, 0, 0, 0.05);
    transition: 0s;
}

.RatingPage-PlayersList_me {
    background: rgba(0, 0, 0, 0.1)!important;
    font-weight: bold;
}

.RatingPage-PlayersList > * {
    display: flex;
    height: 100%;
    min-height: 0;
    padding: 0 20px;
    align-items: center;
    white-space: nowrap;
}

.RatingPage-PlayersListPosition {
    min-width: 100px;
    width: 12%;
}

.RatingPage-PlayersListScore {
    min-width: 200px;
    width: 21%;
}

.RatingPage-PlayersListTrophy {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    margin-right: 15px;
    vertical-align: baseline;
    background: url('./trophy.svg');
}

.RatingPage-PlayersListUsername {
    min-width: 200px;
    width: 34%;
}

.RatingPage-PlayersListWins {
    min-width: 200px;
    width: 16%;
}

.RatingPage-PlayersListLoses {
    min-width: 200px;
    width: 17%;
}
