
.Header {
    width: 100%;
}

.Header-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    min-height: 36px;
    padding: 0 20px;
}

.Header-Title {
    font-size: 24px;
}

.Header-PlayerContainer {
    display: flex;
    align-items: center;
    min-height: 0;
}

.Header-Player {
    font-size: 20px;
}

.Header-Trophy {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;

    background: url('./trophy.svg');
}

.Header-Tabs {
    display: flex;
    width: 100%;
    height: 30px;
    min-height: 0;
}

.Header-Tab {
    border: 1px solid black;
    border-right-width: 0;
    border-left-width: 0;

    color: black;
    background: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    flex-grow: 1;
    flex-basis: 33.33%;
}

.Header-Tab + .Header-Tab {
    border-left-width: 1px;
}

.Header-Tab:hover, .Header-Tab_active {
    background: black;
    color: white;
}

.Header-Tab_active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
